.commentform {
  display: block;
  width: 300px;
  height: auto;
  border: 1px solid #ccc;
  float: left;
  margin-left: 30px;
  font-family: Arial, sans-serif;
}

.comment-field-label {
  padding: 0 0 2px 2px;
  font-size: 13px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-left: 20px;
}

.comment-field {
  width: 185px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 11px;
  margin: 0 auto;
  margin: 5px 0;
  font-weight: normal;
  padding: 5px 5px 5px 10px;
  display: block;
  margin-left: 20px;
}

.body{
  height: 50px;
  padding-bottom: 15px;
}

.new-comment-button{

}
