.commentform {
  display: block;
  width: 700px;
  height: auto;
  float: left;
  margin-left: -1px;
  font-family: Arial, sans-serif;
  padding-top: 10px;
}

.commentHeader{
  color: #664700;
  font-size: 24px;
  margin: 8px 0 16px 11px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.commentform p {
  color: black;
  font-size: 14px;
  margin: 8px 0 16px 11px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.AllComents {
  border: 1px solid #ccc;
  margin: 10px 0 14px 14px;
  width: 700px;
  height: auto;
}

.commentList{
  display: block;
  height: auto;
  float: left;
  width: 500px;
  margin-left: 18px;
}

// .commentList li{
//   display: block;
//   height: auto;
//   width: 700px;
//   padding: 10px 0;
// }

.comment-field-label {
  padding: 0 0 2px 2px;
  font-size: 13px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-left: 20px;
}

.comment-field {
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 11px;
  margin: 0 auto;
  margin: 5px 0;
  font-weight: normal;
  padding: 5px 5px 5px 10px;
  display: block;
  margin-left: 20px;
  font-size: 12px;
}

.body{
  height: 50px;
  padding-bottom: 15px;
}

.new-comment-button{
  margin: 10px 0 15px 20px;
  font-size: 9px;
  background: #fcf3c2;
  font-family: Verdana, Arial, sans-serif;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.commentItem {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  height: auto;
  width: 620px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.commentItem .commentTitle{
  font-weight: bold;
  clear: both;
}

.commentItem .commentUser{
  font-size: 9px;
  float: left;
  padding: 3px;
}

.commentItem  .date{
  font-size: 9px;
  float: left;
  padding: 3px;
  border-right: 1px solid black;
}

.commentItem .commentBody{
  display: block;
  clear: both;
  padding: 3px;
  width: auto;
}

.AllCommentsMovie {
  margin: 10px 0 0 14px;
  width: 700px;
  height: auto;
}

.AllCommentsMovie .commentHeader{
  font-size: 27px;
  font-family: Arial, sans-serif;
  color: black;
  margin: 8px 0 0px 5px;
}
