.login-form-container{
  background: #fff;
  font-family: Arial, sans-serif;
  padding-top: 32px;
  margin: 0 auto;
}

.login-logo {
  margin: 0 auto;
  width: 110px;
  height: 66px;
  padding-bottom: 15px;
}

.login-form-box {
  margin: 0 auto;
  width: 340px;
  height: auto;
  border: 1px solid #ccc;
  display: flex, block;
  padding: 20px;
}

.login-form {
  margin: 0 auto;
  display: block;
  padding: 0 20px 20px 20px;
}

.login-form .login-input, .submit{
  width: 282px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 30px;
  margin: 0 auto;
  margin: 5px 0;
  font-weight: normal;
  padding: 5px 5px 5px 10px;
}

.login-form label{
  margin: 0 auto;
  display: block;
  padding: 0 0 2px 2px;
  font-size: 13px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  float: left;
}

.login-form .submit{
  text-align: center;
  background: #ECC130;
}

.login-header {
  margin: 0 0 5px 20px;
  font-size: 28px;
}

.errors {
  font-size: 12px;
  margin-left: 20px;
  font-weight: normal;
}

.errors li{
  padding: 2px;
}

.signupin_link {
  font-size: 13px;
  padding: 5px;
}

.signupin_link .link{
  color: #0066c0;
}
