

.Full-Search-Bar {
  width: 730px;
  height: 94px;
  margin: 0 auto;
  background: #424242;
  position: relative;
}

.Searchbox {
  width: 730px;
  height: 66px;
}

.Searchbox input{
  background: #fff;
  width: 475px;
  height: 27px;
  padding-left: 10px;
  border-radius: 3px;
  margin: 30px 0 0 11px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.toggle{
  padding-left: 9px;
  margin: 30px 0 0 20px;
  border: 1px solid #ccc;
  width: 80px;
  height: 27px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  background: #fff asset-url('arrowdown.gif') no-repeat 90% 50%;
  float: left;
}

.logo{
  width: 110px;
  height: 66px;
  float: left;
  margin: 14px 0px -6px 16px
}


select::-ms-expand {
  display: none;
}

select {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance:none;
}

.toggle select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.toggle select:focus {
  outline: none;
}

.searchList {
  display: block;
  position: absolute;
  left: 203px;
  top: 62px;
  width: 410px;
  margin-left: 14px;
  border-radius: 10px;
}

.searchList li{
  display: block;
  float: left;
  width: 410px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.searchList img{
  width: 48px;
  height: 48px;
  float: left;
  padding: 5px;
}

.searchList p{
  float: left;
  padding: 10px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.options {
  display: block;
  float: left;
  margin-left: 15px
}

.options li {
  float: left;
  padding: 0 10px 10px 10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}

.session {
  float: right;
  display: block;
  padding: 0 15px 10px 10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}
